<p-gmap #gmap [style]="{'width':'80%','height':'540px', 'margin-bottom': '1em'}" [options]="options" [overlays]="overlays"
(onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)" (onOverlayDragEnd)="handleDragEnd($event)"></p-gmap>
<div class="list-zona">
  <ul>
    <li *ngFor="let overlay of overlays; let i=index;" (click)="handleOverlayListClick(overlay, $event)">
      {{overlay.title | striphtml}}
      <span style="font-weight: bold">${{4 * (i+2) }}</span>
    </li>
  </ul>
</div>

<button type="button" pButton label="Clear" icon="pi pi-times" (click)="clear()" style="margin-right:.25em"></button>
<button type="button" pButton label="Zoom In" icon="pi pi-plus" (click)="zoomIn(gmap.getMap())" style="margin-right:.25em"></button>
<button type="button" pButton label="Zoom Out" icon="pi pi-minus" (click)="zoomOut(gmap.getMap())"></button>

<p-dialog showEffect="fade" [(visible)]="dialogVisible" header="New Location" [style]="{width: '300px'}">
    <div class="grid p-fluid" *ngIf="selectedPosition">
        <div class="col-2"><label for="title">Label</label></div>
        <div class="col-10"><input type="text" pInputText id="title" [(ngModel)]="markerTitle"></div>

        <div class="col-2"><label for="lat">Lat</label></div>
        <div class="col-10"><input id="lat" type="text" readonly pInputText [ngModel]="selectedPosition.lat()"></div>

        <div class="col-2"><label for="lng">Lng</label></div>
        <div class="col-10"><input id="lng" type="text" readonly pInputText [ngModel]="selectedPosition.lng()"></div>

        
    </div>
    <ng-template pTemplate="footer">
        <div>
            <button type="button" pButton label="Add Marker" icon="pi pi-plus" (click)="addMarker()"></button>
        </div>
    </ng-template>
</p-dialog>